<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>create_account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-color: #c4c1e0; color: rgb(255, 255, 255);">
    <div style="display: grid;grid-template-columns: 1fr 1fr;padding-top: 5rem;">
        <div>

            
            <form method="POST"
      action="{% url 'register_user' %}"
      class="col-10 card p-3 shadow-lg mx-auto my-auto"
      style="background-color:#7c73e6">

    {% csrf_token %}
                <h3> Register as User</h3>
                {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
      {% endfor %}

{%endif%}

                <div class="mb-3">
                    <label for="exampleInputText" class="form-label" style="color: white;">First name</label>
                    <input type="text" class="form-control"  name="first_name" id="exampleInputText" aria-describedby="text">
                   
                </div>
                   <div class="mb-3">
                    <label for="exampleInputText" class="form-label" style="color: white;">Last name</label>
                    <input type="text" class="form-control" name="last_name" id="exampleInputText" aria-describedby="text">
                   
                </div>
                <div class="mb-3">
                    <label for="exampleInputText" class="form-label" style="color: white;">User name </label>
                    <input type="text" class="form-control" name="username" id="exampleInputText" aria-describedby="text">
                   
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" style="color: white;">Email address</label>
                    <input type="email" class="form-control"name="email"  id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"style="color: white;">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPhone" class="form-label" style="color: white;">Contact number</label>
                    <input type="tel" class="form-control"name="contact_num"  id="exampleInputPhone" aria-describedby="phoneHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"style="color: white;">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div>
                 
                <button type="submit" class="btn btn-primary"style="color: white;">Submit</button>
                <a href="login" >Already have account</a>
            </form>
        </div>
        

        <div>
            <form method="POST"
      action="{% url 'register_organizer' %}"
      class="col-10 card p-3 shadow-lg mx-auto my-auto"
      style="background-color:#7c73e6">

    {% csrf_token %}
            <h3>Register as Organizer</h3>
                {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
      {% endfor %}

{%endif%}

                <div class="mb-3">
                    <label for="exampleInputText" class="form-label" style="color: white;">First name</label>
                    <input type="text" class="form-control" name="first_name" id="exampleInputText" aria-describedby="text">
                   
                </div>
                   <div class="mb-3">
                    <label for="exampleInputText" class="form-label" style="color: white;">Last name</label>
                    <input type="text" class="form-control" name="last_name"id="exampleInputText" aria-describedby="text">
                   
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" style="color: white;">Email address</label>
                    <input type="email" class="form-control" name="email"id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"style="color: white;">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputText" class="form-label" style="color: white;">Organisation name</label>
                    <input type="text" class="form-control" name="username"id="exampleInputText" aria-describedby="phoneText">
                </div>
                
                
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"style="color: white;">Password</label>
                    <input type="password" class="form-control"name="password" id="exampleInputPassword1">
                </div>
                 
                <button type="submit" class="btn btn-primary"style="color: white;">Submit</button>
                <a href="login_page1" >Already have account</a>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>