<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organization</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-color: #7c73e6;">
    <nav class="navbar navbar-expand-ig ">
    <h1 class="ms-5 mt-3"style="color:white;">Organization</h1>

    <button type="submit" class="btn btn-danger me-4">Logout</button>
        </nav>
    <!-- Add Recipe Form -->
    <div>
        <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Company Name</label>
    <input
        type="text"
        name="company_name"
        class="form-control">

    <label>Job Description</label>
    <textarea
        name="job_description"
        class="form-control"></textarea>

    <label>Upload Image</label>
    <input
        type="file"
        name="job_image"
        class="form-control">

    <button type="submit">
        Add Job
    </button>

</form>
    </div>

    <!-- Search Section -->
    <div class="mt-5">
        <div class="mx-auto col-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Search </label>
                    <input name="search" type="text" class="form-control" value="{{ request.GET.search }}">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <!-- Table -->
    <div class="mt-5 container">
        <table class="table table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col"style="background-color: #c4c1e0;">#</th>
                    <th scope="col"style="background-color: #c4c1e0;">Company Name</th>
                    <th scope="col"style="background-color: #c4c1e0;">Description</th>
                    <th scope="col"style="background-color: #c4c1e0;">File</th>
                    <th scope="col"style="background-color: #c4c1e0;">Actions</th>
                </tr>
            </thead>
<tbody>
{% for job in organizer %}
<tr>

    <th scope="row">
        {{ forloop.counter }}
    </th>

    <td>
        {{ job.company_name }}
    </td>

    <td>
        {{ job.job_description }}
    </td>

    <td>
        {% if job.job_image %}
            <img src="{{ job.job_image.url }}"
                 alt="{{ job.company_name }}"
                 width="50"
                 class="rounded">
        {% else %}
            No image
        {% endif %}
    </td>

    <td>

        <a href="/delete_job/{{ job.id }}"
           class="btn btn-danger btn-sm me-2">
           Delete
        </a>

        <a href="/update_job/{{ job.id }}"
           class="btn btn-success btn-sm me-2">
           Update
        </a>

        <a href="/view_appliers/{{ job.id }}"
           class="btn btn-info btn-sm mt-2">
           View Appliers
        </a>

    </td>

</tr>
{% endfor %}
</tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>
